doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	title Astriarch - Ruler of the Stars, space strategy game
	link(type='text/css', href='css/theme.css', rel='stylesheet')
	link(type='text/css', href='css/custom-theme/jquery-ui.min.css', rel='stylesheet')
	link(type='text/css', href='css/js-listbox-style.css', rel='stylesheet')
	link(type='text/css', href='css/jquery.ui.adjust.css', rel='stylesheet')

	link(type='text/css', href='css/joyride-2.1.css', rel='stylesheet')
	if use_compressed_js
		script(type='text/javascript', src='js/external.js')
		script(type='text/javascript', src='js/astriarch.js')
	else
		for file in file_list_external
			script(type='text/javascript', src='#{file}')
		for file in file_list_internal
			script(type='text/javascript', src='#{file}')

	script(src="/js/server_comm.js")
	script(type="text/javascript", src="https://apis.google.com/js/plusone.js")
	link(rel="stylesheet", type="text/css", href="/css/astriarch.css")
	link(rel="stylesheet", type="text/css", href="/css/main.css")
	script(type='text/javascript').

		function openWin(url) {
			window.open (url,"aboutastriarch","scrollbars=1,width=800,height=600");
			return false;
		}

		$(document).ready(function() {
			window.name = "astriarch-home";

		});

		//global "events"
		var AstriarchExtern = {	};

		AstriarchExtern.OnGameStart = function(data) {
			//{'Players':#, 'PlanetsPerSystem':#, 'Systems':#}
			ga('send', 'event', 'Astriarch', 'Game Started', 'Players', data.Players);
			ga('send', 'event', 'Astriarch', 'Game Started', 'Planets Per System', data.PlanetsPerSystem);
			ga('send', 'event', 'Astriarch', 'Game Started', 'Systems', data.Systems);
		};

		AstriarchExtern.OnGameOver = function(data) {
			//{'PlayerWon':true|false, 'Turns':#, 'Score':#}
			if(data.PlayerWon){
				ga('send', 'event', 'Astriarch', 'Game Over', 'Player Won', data.Score);
			}
			else {
				ga('send', 'event', 'Astriarch', 'Game Over', 'Player Lost', data.Score);
			}
			ga('send', 'event', 'Astriarch', 'Game Over', 'Turns Played', data.Turns);
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	body
		//
			<div style="position: relative;">
			<canvas id="canvasAstriarchBackground" width="800" height="600"></canvas>
			<canvas id="canvasAstriarchPlayfield" width="621" height="480"></canvas>
			</div>

		.wrapper
			#mainnav.cf
				img(src='img/SystemMasterLogo.png', style="float:left;")
				div#mainnavMenu
					ul
						li
							a(href='#', onclick="openWin('help.html');") help
						li
							a(href='#', onclick="openWin('news.html');") news
						li
							a(href='#', onclick="openWin('about.html');") about
						li
							a(href='https://www.patreon.com/masteredsoftware', target='_blank') support us
				div#topRulersList
					div(style="color:#0A0") Top Rulers:
						hr(style="background-color:#0A0;color:#0A0;height:2px;border:0")
					ol(style="margin-left:20px")
						each ruler in top_rulers
							li #{ruler.playerName} (#{ruler.playerPoints})
				div#topRulersListRecent
					div(style="color:#0A0") Recent Top Rulers:
						hr(style="background-color:#0A0;color:#0A0;height:2px;border:0")
					ol(style="margin-left:20px")
						each ruler in top_rulers_recent
							li #{ruler.playerName} (#{ruler.playerPoints})
			#main.cf
				// left sidebar
				aside#left-sidebar(style='width: 260px; height: 600px;float:left;margin-right:5px;')
					div#chatArea
						div#chatRoomInfo(style='height:94px;margin-bottom:4px;')
						div#chatLog(style='height:458px;')
						div#chatLogPlayerNameArea(style='margin-top:4px;')
							div#chatLogPlayerName(style='height:20px;')
							input#chatPlayerNameTextBox(type='text', value='', style='width: 258px; display:none')
						div#chatInputArea
							input#chatInputTextBox(type='text', value='', style='width: 258px;')

				#main-right(style='float:right')
					#main-middle(style='float:left')
						#gameElementsContainer(style='position: relative; width: 800px; height: 600px;')
							#canvasContainer(style='position: relative;')
							#loadingSpinner(style='position: absolute; width: 160px; height: 100px; left: 320px; top: 270px; color: white; font-size: 12px; background-color: gray; opacity: 0.8; z-index: 2002;')
								table(cellpadding='0', cellspacing='0', style='position: absolute; left: 5px; right: 5px; top: 5px; bottom: 5px; z-index: 30012;')
									tr(height='25')
										td(width='150', align='center')
											span(style='text-align: center;') Loading...
									tr(height='75')
										td(width='150', align='center')
											img(src='img/spinner-green.gif')
							#mainMenu(style='position: absolute; width: 640px; height: 400px; left: 80px; top: 120px; color: white; font-size: 12px; background-color: gray; opacity: 0.8; z-index: 101;')
								table(cellpadding='0', cellspacing='0', style='position: absolute; left: 5px; right: 5px; top: 5px; bottom: 5px; z-index: 102;')
									tr(height='25')
										td(width='630', align='center', colspan='2')
											span(style='text-align: center;') Welcome to Astriarch - Ruler of the Stars
									tr(height='315')
										td(width='315', align='center')
											#GamesAvailableListBox(style='height: 310px;')
										td(width='315', align='center')
											#GameSelectedPanel(style='height: 310px;')
												#GameSelectedDetails(style='height: 290px;')
													#GameSelectedName(style='height: 30px;')
													#GameSelectedHostName(style='height: 30px;')
													#GameSelectedPlayerSummary(style='height: 30px;')
													#GameSelectedPlayer2Details(style='height: 30px;')
													#GameSelectedPlayer3Details(style='height: 30px;')
													#GameSelectedPlayer4Details(style='height: 30px;')
													#GameSelectedNumberOfSystems(style='height: 30px;')
													#GameSelectedPlanetsPerSystem(style='height: 30px;')
													#GameSelectedDateCreated(style='height: 30px;')
													#GameSelectedDateLastPlayed(style='height: 30px;')
									tr(height='50')
										td(width='315', align='center')
											button#NewSkirmishGameButton(style='font-size: 12px;', width='100') New Game
										td(width='315', align='center')
											button#JoinGameButton(style='font-size: 12px;', width='100') Join Game
							#startGameOptionsContainer(style='position: absolute; width: 640px; height: 400px; left: 80px; top: 120px; color: white; font-size: 12px; background-color: gray; opacity: 0.8; z-index: 103;')
								table(cellpadding='0', cellspacing='0', style='position: absolute; left: 5px; right: 5px; top: 5px; bottom: 5px; z-index: 104;')
									tr(height='50')
										td(width='630', colspan='2')
											div(style='text-align: center;') New Skirmish Game
											div(style='text-align: center;') Please enter your name and choose the desired game settings.
									tr
										td(width='230')
											table(cellpadding='0', cellspacing='0', style='margin:2px')
												tr(height='40')
													td(width='80')
														label(style='width: 75px;')
															| Game Name:
													td(width='150')
														input#GameNameTextBox(type='text', value='New Game', style='width: 147px;')
												tr(height='40')
													td(width='80')
														label(style='width: 75px;')
															| Your Name:
													td(width='150')
														input#PlayerNameTextBox(type='text', value='Player1', style='width: 147px;')
												tr(height='40')
													td(width='80')
														label
															| Player 1:
													td(width='150')
														label#Player1NamePanel
															| You
												tr(height='40')
													td(width='80')
														div.Player2Panel
															label
																| Player 2:
													td(width='150')
														div.Player2Panel
															span#Player2NamePanel
															div#Player2OptionsBox
												tr(height='40')
													td(width='80')
														div.Player3Panel
															label
																| Player 3:
													td(width='150')
														div.Player3Panel
															span#Player3NamePanel
															div#Player3OptionsBox
												tr(height='40')
													td(width='80')
														div.Player4Panel
															label
																| Player 4:
													td(width='150')
														div.Player4Panel
															span#Player4NamePanel
															div#Player4OptionsBox
										td(width='400')
											table(cellpadding='0', cellspacing='0', style='margin:2px')
												tr(height='30')
													td(width='140')
														span Turn Time Limit:
													td(width='260', colspan='3')
														select#TurnTimeLimitComboBox
															option(value='0', selected='true') None
															option(value='30') 30 Seconds
															option(value='60') 1 Minute
															option(value='120') 2 Minutes
															option(value='180') 3 Minutes
															option(value='300') 5 Minutes
												tr(height='30')
													td(width='140')
														label#GalaxySizePanel
															| Galaxy Size:
													td(width='260', colspan='3')
														select#GalaxySizeComboBox
															option(value='1') Small
															option(value='2') Medium
															option(value='3', selected='true') Large
												tr(height='30')
													td(width='140')
														label#NumberOfSystemsPanel
															| Number of Systems:
													td(width='60')
														select#NumberOfSystemsComboBox
															option(value='2') 2
															option(value='3') 3
															option(value='4', selected='true') 4
													td(width='200', colspan='2', rowspan='3')
														canvas#newGameControlStarfieldCanvas(style='background-color:#000', width='200', height='170')
												tr(height='30')
													td(width='140')
														label#PlanetsPerSystemPanel
															| Planets Per System:
													td(width='60')
														div#PlanetsPerSystemOptionsBox
												tr(height='30')
													td(width='400', colspan='2')
														input#DistributePlanetsEvenlyCheckBox(type='checkbox', name='DistributePlanetsEvenlyCheckBox', checked="true")
														label#DistributePlanetsEvenlyCheckBoxLabel(for='DistributePlanetsEvenlyCheckBox', style='display: inline;') Distribute Planets Evenly

									tr(height='80')
										td(width='630', colspan='2', align='center')
											button#StartGameOptionsOkButton(width='150', style='font-size: 12px;') Start Game

							#SliderVolume
							#AstriarchAlertBox(style='display: none; height: 100px;')
							#gameControlsContainer(style='position: relative; background-color: blue;')
								#gameControls.screen
									table#OverallPlayerStatusGrid.greenText(cellpadding='0', cellspacing='0', style='position: absolute; left: 0px; right: 0px; top: 0px; left:0px; z-index: 201; width:100%')
										tr(height='16')
											td(width='169', valign='top')
												div#TurnContainer(style="position:relative;overflow:hidden;margin-right:10px")
													div#TurnTimer(style="z-index:202;position:absolute;background:blue;width:100%;height:2px;left:1px;top:16px;")
													span#TurnDisplay.smallStatusText(style='text-align:left;padding-left:5px;position:relative') Turn 1, Year 3001
											td(width='16')
												span.icon-16x16-population(title='Total Population')
											td
												span#TextBlockPopulationAmount.playerSummaryStatusText
											td(width='16')
												span.icon-16x16-credits(title='Gold Amount')
											td
												span#TextBlockGoldAmount.playerSummaryStatusText
											td(width='16')
												span.icon-16x16-food(title='Food Amount')
											td
												span#TextBlockFoodAmount.playerSummaryStatusText
											td(width='16')
												span.icon-16x16-ore(title='Ore Amount')
											td
												span#TextBlockOreAmount.playerSummaryStatusText
											td(width='16')
												span.icon-16x16-iridium(title='Iridium Amount')
											td
												span#TextBlockIridiumAmount.playerSummaryStatusText

									table#gameGrid(cellpadding='0', cellspacing='0', style='position: absolute; left: 8px; right: 8px; top: 21px; bottom: 0px; z-index: 202;')
										tr(height='576')
											td(width='169', valign='top')
												// left hand status panel
												table.greenText(cellpadding='0', cellspacing='0')
													tr(height='64')
														td
															span#SelectedItemStatus.smallStatusText(style='height: 64px;')
													tr(height='16')
														td
															table#SelectedItemPopulationPanel(cellpadding='0', cellspacing='0')
																tr
																	td(width='10')
																		#PopulationImage1.popImg
																	td(width='10')
																		#PopulationImage2.popImg
																	td(width='10')
																		#PopulationImage3.popImg
																	td(width='10')
																		#PopulationImage4.popImg
																	td(width='10')
																		#PopulationImage5.popImg
																	td(width='10')
																		#PopulationImage6.popImg
																	td(width='10')
																		#PopulationImage7.popImg
																	td(width='10')
																		#PopulationImage8.popImg
																	td(width='10')
																		#PopulationImage9.popImg
																	td(width='10')
																		#PopulationImage10.popImg
																	td(width='10')
																		#PopulationImage11.popImg
																	td(width='10')
																		#PopulationImage12.popImg
																	td(width='10')
																		#PopulationImage13.popImg
																	td(width='10')
																		#PopulationImage14.popImg
																	td(width='10')
																		#PopulationImage15.popImg
																	td(width='10')
																		#PopulationImage16.popImg
													tr(height='16')
														td
															table#SelectedItemImprovementSlotsPanel(cellpadding='0', cellspacing='0')
																tr
																	td(width='16')
																		#PlanetaryImprovementSlotsImage1.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage2.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage3.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage4.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage5.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage6.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage7.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage8.impImg
																	td(width='16')
																		#PlanetaryImprovementSlotsImage9.impImg
													tr(height='16')
														td
															table#SelectedItemPopulationAssignmentsPanel(cellpadding='0', cellspacing='0')
																tr
																	td(width='10')
																		#PopulationAssignmentImage1.asnImg
																	td(width='10')
																		#PopulationAssignmentImage2.asnImg
																	td(width='10')
																		#PopulationAssignmentImage3.asnImg
																	td(width='10')
																		#PopulationAssignmentImage4.asnImg
																	td(width='10')
																		#PopulationAssignmentImage5.asnImg
																	td(width='10')
																		#PopulationAssignmentImage6.asnImg
																	td(width='10')
																		#PopulationAssignmentImage7.asnImg
																	td(width='10')
																		#PopulationAssignmentImage8.asnImg
																	td(width='10')
																		#PopulationAssignmentImage9.asnImg
																	td(width='10')
																		#PopulationAssignmentImage10.asnImg
																	td(width='10')
																		#PopulationAssignmentImage11.asnImg
																	td(width='10')
																		#PopulationAssignmentImage12.asnImg
																	td(width='10')
																		#PopulationAssignmentImage13.asnImg
																	td(width='10')
																		#PopulationAssignmentImage14.asnImg
																	td(width='10')
																		#PopulationAssignmentImage15.asnImg
																	td(width='10')
																		#PopulationAssignmentImage16.asnImg
													tr
														td
															table#SelectedItemBuiltImprovementsGrid(cellpadding='0', cellspacing='0', style='text-align: center;')
																tr(height='32')
																	td(width='32')
																		span.icon-32x32-FarmLarge(title='Farm Count')
																	td(width='32')
																		span.icon-32x32-MineLarge(title='Mine Count')
																	td(width='32')
																		span.icon-32x32-FactoryLarge(title='Factory Count')
																	td(width='32')
																		span.icon-32x32-ColonyLarge(title='Colony Count')
																	td(width='32')
																		span.icon-32x32-SpacePlatformLarge(title='Space Platform Count')
																tr(height='32')
																	td(width='32')
																		span#TextBlockFarmCount.planetStatusTextCentered(title='Farm Count')
																	td(width='32')
																		span#TextBlockMineCount.planetStatusTextCentered(title='Mine Count')
																	td(width='32')
																		span#TextBlockFactoryCount.planetStatusTextCentered(title='Factory Count')
																	td(width='32')
																		span#TextBlockColonyCount.planetStatusTextCentered(title='Colony Count')
																	td(width='32')
																		span#TextBlockSpacePlatformCount.planetStatusTextCentered(title='Space Platform Count')
													tr
														td
															table#SelectedItemPlanetaryFleetGrid(cellpadding='0', cellspacing='0', style='text-align: center;')
																tr(height='42')
																	td(width='32')
																		canvas#CanvasDefenderLarge(title='Defenders', width='32', height='42')
																	td(width='32')
																		canvas#CanvasScoutLarge(title='Scouts', width='32', height='42')
																	td(width='32')
																		canvas#CanvasDestroyerLarge(title='Destroyers', width='32', height='42')
																	td(width='32')
																		canvas#CanvasCruiserLarge(title='Cruisers', width='32', height='42')
																	td(width='32')
																		canvas#CanvasBattleshipLarge(title='Battleships', width='32', height='42')
																tr(height='22')
																	td(width='32')
																		span#TextBlockDefenderCount.planetStatusTextSmallCentered(title='Defender Count')
																	td(width='32')
																		span#TextBlockScoutCount.planetStatusTextSmallCentered(title='Scout Count')
																	td(width='32')
																		span#TextBlockDestroyerCount.planetStatusTextSmallCentered(title='Destroyer Count')
																	td(width='32')
																		span#TextBlockCruiserCount.planetStatusTextSmallCentered(title='Cruiser Count')
																	td(width='32')
																		span#TextBlockBattleshipCount.planetStatusTextSmallCentered(title='Battleship Count')
													tr
														td
															span#SelectedItemStatusDetails.smallStatusText(style='height: 282px;')
													tr
														td
															table#BottomStatusGrid(cellpadding='0', cellspacing='0')
																tr(height='14')
																	td(colspan='3')  
																tr(height='32')
																	td(width='32')
																		span#MainMenuIcon.icon-16x16-main-menu(title='Exit')
																		button#MainMenuButton(width='24', height='24', title='Exit', style='display: none;') Exit
																	td(width='32')
																		span#SpeakerIcon.icon-16x16-speaker-on(title='Mute Audio')
																		button#ButtonSpeakerToggleMute(width='24', height='24', title='Mute Audio', style='display: none;') STM
																	td(width='50')
																		span#SystemMasterVersion.defaultFont(title='', style='font-size: 9pt; font-weight: bold; color: darkgreen; padding-left: 5px;')
																	td#StubTradeTour(width='14')
																		span
																	td(width='32')
																		button#ButtonOpenTradingCenter(width='24', height='24', data-hotkey='r', title='Open Trading Center (hotkey: "r")') OTC
											// end left hand status panel
											td(width='621')
												table(cellpadding='0', cellspacing='0')
													tr(height='480')
														td(width='615')
															#canvasMouseHitDetector(style='width: 621px; height: 480px; background-color: black; opacity: 0;')
													tr(height='66')
														td
															#TurnSummaryItemsListBox(style='height: 66px;')
													tr(height='30')
														td
															#ButtonPanel
																button#PlanetViewButton(width='100', data-hotkey='V') Planet View
																button#SendShipsButton(width='100', data-hotkey='S') Send Ships
																button#NextTurnButton(width='100', data-hotkey='T') Next Turn
																span#SendShipsStatus.defaultFont(style='color: yellow; font-size: 14px;')
																button#CancelSendButton(width='100', data-hotkey='C') Cancel Send Ships
																button#MainMenuButtonGameOver(width='75', data-hotkey='M') Main Menu
							#planetViewDialog.screen(style='width: 560px; height: 360px; display: none;')
								table#planetViewGrid(cellpadding='0', cellspacing='0')
									tr(height='360')
										td(width='160', valign='top')
											table#PlanetStatsGrid.greenText(cellpadding='0', cellspacing='0', style='background-color: black; height: 360px; width: 144px;')
												tr(height='32')
													td(width='32')
														#PlanetImage(style='width: 32px; height: 32px;', title='')
													td(colspan='3', width='110')
														span#TextBlockPlanetType(title='', style='text-align: center;')
												tr(height='20')
													td(colspan='4')
														button#ButtonClearWaypoint(height='18', title='Clear Waypoint') Clear Waypoint
												tr(height='32')
													td(width='32')
														span.icon-32x32-FoodLarge(title='Food Per Turn')
													td(width='64')
														span#TextBlockFoodPerTurn.playerStatusTextRight(title='Food Per Turn')
													td(width='48', colspan='2')  
												tr(height='32')
													td(width='32')
														span.icon-32x32-OreLarge(title='Ore Per Turn')
													td(width='64')
														span#TextBlockOrePerTurn.playerStatusTextRight(title='Ore Per Turn')
													td(width='48', colspan='2')  
												tr(height='32')
													td(width='32')
														span.icon-32x32-IridiumLarge(title='Iridium Per Turn')
													td(width='64')
														span#TextBlockIridiumPerTurn.playerStatusTextRight(title='Iridium Per Turn')
													td(width='48', colspan='2')  
												tr(height='32')
													td(width='32')
														span.icon-32x32-ProductionLarge(title='Production Per Turn')
													td(width='64')
														span#TextBlockProductionPerTurn.playerStatusTextRight(title='Production Per Turn')
													td(width='48', colspan='2')  
												tr(height='20')
													td(colspan='4') Planetary Improvements:
												tr(height='32')
													td(width='32')
														span.icon-32x32-FarmLarge(title='Farm Count')
													td(width='64')
														span#PlanetViewFarmCount.playerStatusTextRight(title='Farm Count')
													td(width='16')  
													td(width='32')
														button#ButtonDemolishFarm(width='24', height='24', title='Demolish one Farm') DF
												tr(height='32')
													td(width='32')
														span.icon-32x32-MineLarge(title='Mine Count')
													td(width='64')
														span#PlanetViewMineCount.playerStatusTextRight(title='Mine Count')
													td(width='16')  
													td(width='32')
														button#ButtonDemolishMine(width='24', height='24', title='Demolish one Mine') DM
												tr(height='32')
													td(width='32')
														span.icon-32x32-FactoryLarge(title='Factory Count')
													td(width='64')
														span#PlanetViewFactoryCount.playerStatusTextRight(title='Factory Count')
													td(width='16')  
													td(width='32')
														button#ButtonDemolishFactory(width='24', height='24', title='Demolish one Factory') DF
												tr(height='32')
													td(width='32')
														span.icon-32x32-ColonyLarge(title='Colony Count')
													td(width='64')
														span#PlanetViewColonyCount.playerStatusTextRight(title='Colony Count')
													td(width='16')  
													td(width='32')
														button#ButtonDemolishColony(width='24', height='24', title='Demolish one Colony') DC
												tr(height='32')
													td(width='32')
														span.icon-32x32-SpacePlatformLarge(title='Space Platform Count')
													td(width='64')
														span#PlanetViewSpacePlatformCount.playerStatusTextRight(title='Space Platform Count')
													td(width='48', colspan='2')  
										td(width='400')
											table(cellpadding='0', cellspacing='0', style='height: 360px; width: 400px;')
												tr
													td
														table#PopulationAssignments(cellpadding='0', cellspacing='0', style='height: 90px; width: 400px;')
															tr(height='30')
																td(width='55')
																	button#PlanetViewButtonFarmers(width='50', data-hotkey='F') Farmers:
																td(width='25')
																	span#TextBoxFarmers(style='border: 1px;')
																td(width='200')
																	#SliderFarmers
															tr(height='30')
																td(width='55')
																	button#PlanetViewButtonMiners(width='50', data-hotkey='M') Miners:
																td(width='25')
																	span#TextBoxMiners(style='border: 1px;')
																td(width='200')
																	#SliderMiners
															tr(height='30')
																td(width='55')
																	button#PlanetViewButtonWorkers(width='50', data-hotkey='B') Builders:
																td(width='25')
																	span#TextBoxWorkers(style='border: 1px;')
																td(width='200')
																	#SliderWorkers
												tr
													td
														table#BuildQueue(cellpadding='0', cellspacing='0', style='height: 270px; width: 400px;')
															tr(height='15')
																td(width='180')
																	span#ItemsAvailableTextBlock Available Items to Build
																td(width='200')
																	span#BuildQueueTextBlock Items in Build Queue
															tr
																td
																	table(cellpadding='0', cellspacing='0', style='height: 30px; width: 180px;')
																		tr(height='12')
																			td(width='52')
																				span(style='text-align: right;', class='colorGold') Gold
																			td(width='52')
																				span(style='text-align: center;', class='colorOre') Ore
																			td(width='52')
																				span(style='text-align: left;', class='colorIridium') Iridium
																		tr(height='12')
																			td(width='52')
																				span#TextBlockCurrentGoldAmount(style='text-align: right;', class='colorGold')
																			td(width='52')
																				span#TextBlockCurrentOreAmount(style='text-align: center;', class='colorOre')
																			td(width='52')
																				span#TextBlockCurrentIridiumAmount(style='text-align: left;', class='colorIridium')
																td
																	table(cellpadding='0', cellspacing='0', style='width: 200px;')
																		tr
																			td(width='200')
																				table(cellpadding='0', cellspacing='0', style='display: inline; width: 200px;')
																					tr(height='16')
																						td(rowspan='2', width='28')
																							button#ButtonBuildQueueRemoveSelectedItem(width='24', height='24', title='Remove Selected Item from Build Queue') BQR
																						td(rowspan='2', width='28')
																							button#ButtonBuildQueueMoveSelectedItemDown(width='24', height='24', title='Move Selected Item Down') BQD
																						td(rowspan='2', width='28')
																							button#ButtonBuildQueueMoveSelectedItemUp(width='24', height='24', title='Move Selected Item Up') BQU
																						td
																							input#BuildLastShipCheckBox(type='checkbox', name='BuildLastShipCheckBox')
																							label#BuildLastShipCheckBoxLabel(for='BuildLastShipCheckBox', style='display: inline;') Build Last Ship
																					tr(height='10')
																						td
																							span#LastShipBuiltTextBlock(style='height: 12px; font-size: 10px; display: inline;')
															tr(height='225')
																td(width='180')
																	#ItemsAvailableCardList(style='height: 225px;')
																td(width='200')
																	#BuildQueueListBox(style='height: 225px;')

							#sendShipsDialog.screen(style='width: 380px; height: 240px; display: none;')
								table(cellpadding='0', cellspacing='0')
									tr(height='25')
										td(width='380', valign='top')
											table(cellpadding='0', cellspacing='0')
												tr(height='25')
													td(width='180')
														span#SendShipsDialogStatus
													td(width='100')
														button#ButtonSendNoShips(width='75', height='24', data-hotkey='N', title='Send no ships from the Planet') Send None
													td(width='100')
														button#ButtonSendAllShips(width='75', height='24', data-hotkey='A', title='Send all ships on the Planet') Send All
									tr(height='160')
										td(width='380')
											#StarShipsAvailableCardList(style='height: 160px;')
									tr(height='30')
										td(width='380', valign='top')
											table(cellpadding='0', cellspacing='0')
												tr(height='30')
													td(width='180')
														span#CurrentWaypointStatus
													td(width='100')
														label#SetWaypointCheckBoxLabel(for='SetWaypointCheckBox', style='display: inline;') Set Waypoint
													td(width='100')
														input#SetWaypointCheckBox(type='checkbox', name='SetwaypointCheckBox')


							#tradingControlDialog.screen(style='width: 460px; height: 300px; display: none;')
								table(cellpadding='0', cellspacing='0')
									tr(height='90')
										td
											table(cellpadding='0', cellspacing='0', width='450', style='background-color: black;', class='greenText')
												tr(height='30')
													td(width='240')
														span Your Stockpile (After Trades):
													td(width='16')
														span.icon-16x16-food(title='Food Amount')
													td
														span#tcdStockpileAmtFood.tradingCenterStatusText 0
													td(width='16')
														span.icon-16x16-ore(title='Ore Amount')
													td
														span#tcdStockpileAmtOre.tradingCenterStatusText 0
													td(width='16')
														span.icon-16x16-iridium(title='Iridium Amount')
													td
														span#tcdStockpileAmtIridium.tradingCenterStatusText 0
												tr(height='30')
													td(width='240')
														span Galaxy Trading Center Stockpile:
													td(width='16')
														span.icon-16x16-food(title='Food Amount')
													td
														span#tcdTradingCenterAmtFood.tradingCenterStatusText 0
													td(width='16')
														span.icon-16x16-ore(title='Ore Amount')
													td
														span#tcdTradingCenterAmtOre.tradingCenterStatusText 0
													td(width='16')
														span.icon-16x16-iridium(title='Iridium Amount')
													td
														span#tcdTradingCenterAmtIridium.tradingCenterStatusText 0
												tr(height='30')
													td(width='240')
														span Current Prices:
													td(width='16')
														span.icon-16x16-food(title='Food Price')
													td
														span#tcdStockpilePriceFood.tradingCenterStatusText 0
													td(width='16')
														span.icon-16x16-ore(title='Ore Price')
													td
														span#tcdStockpilePriceOre.tradingCenterStatusText 0
													td(width='16')
														span.icon-16x16-iridium(title='Iridium Price')
													td
														span#tcdStockpilePriceIridium.tradingCenterStatusText 0

									tr(height='130')
										td
											table(cellpadding='0', cellspacing='0', width='450')
												tr(height='25')
													td(colspan='2')
														span Submit Trade:
												tr(height='25')
													td(colspan='2')
														div#TradeTypeRadio
															input#TradeTypeRadioBuy(type="radio", name="TradeTypeRadioGroup", value="buy", checked="checked")
															label.radioButtonTradeLabel(for="TradeTypeRadioBuy") Buy

															input#TradeTypeRadioSell(type="radio", name="TradeTypeRadioGroup", value="sell")
															label.radioButtonTradeLabel(for="TradeTypeRadioSell") Sell
												tr(height='25')
													td(colspan='2')
														div#TradeResourceRadio
															input#TradeResourceRadioFood(type="radio", name="TradeResourceRadioGroup", value="food", checked="checked")
															label#TradeResourceLabelFood.radioButtonTradeLabel(for="TradeResourceRadioFood") Food

															input#TradeResourceRadioOre(type="radio", name="TradeResourceRadioGroup", value="ore")
															label#TradeResourceLabelOre.radioButtonTradeLabel(for="TradeResourceRadioOre") Ore

															input#TradeResourceRadioIridium(type="radio", name="TradeResourceRadioGroup", value="iridium")
															label#TradeResourceLabelIridium.radioButtonTradeLabel(for="TradeResourceRadioIridium") Iridium
												tr(height='55')
													td(colspan='2')
														table(width='450')
															tr(height='30')
																td
																	span Amount
																td
																	span#TradeResourceAmount(style='text-align:right;padding-right:10px') 0
																td(width='175')
																	span
																		#SliderTradeResourceAmount
															tr(height='25')
																td
																	span Estimated Gold Amount
																td
																	span#TradeResourceEstimatedPrice(style='text-align:right;padding-right:10px;') 0
																td
																	span &nbsp
															tr(height='25')
																td
																	span(style="white-space:nowrap;") Galaxy Trading Center Gold Amount
																td
																	span#tcdTradingCenterAmtGold(style='text-align:right;padding-right:10px;') 0
																td(align='right')
																	button#ButtonSubmitTrade(width='75', height='24', title='Submit Trade') Submit Trade
									tr(height='30')
										td
											| Submitted Trades
											button#ButtonTradesSubmittedRetractSelectedTrade(width='24', height='24', title='Retract Selected Trade') RST
									tr(height='50')
										td
											#TradesSubmittedListBox(style='height: 50px;')

							#planetaryConflictDialog.screen(style='width: 380px; height: 220px; display: none;')
								table
									tr(height='200')
										td
											#PlanetaryConflictSummary(style='width: 380px; height: 200px;')
									tr(height='20')
										td
											label
												input#NeverShowPlanetaryConflictPopupsCheckbox(type='checkbox', name='NeverShowPlanetaryConflictPopupsCheckbox')
												| Don't automatically show planetary conflict summaries
							#gameOverDialog.screen(style='width: 380px; height: 210px; display: none;')
								table
									tr(height='210')
										td
											#GameOverSummary(style='width: 380px; height: 210px;')
							#exitConfirmDialog.screen(style='width: 200px; height: 70px; display: none;')
								table
									tr(height='35')
										td
											button#ButtonExitMainMenu(width='75', height='24', title='Exit to Main Menu') Exit Game
									tr(height='35')
										td
											button#ButtonExitResign(width='75', height='24', title='Quit game and Resign') Resign Command

					// right sidebar
					aside#right-sidebar(style='height: 600px;float:right;margin-left:5px')

			#footer.cf(style='color: white;display:inline;text-align:center;width:728px;')
				p
					| Astriarch - Ruler of the Stars multiplayer version Copyright 2010&nbsp;
					a(href='http://www.masteredsoftware.com/', target='_blank') Mastered Software
					| , Music by Resonant.
				div
					script(type="text/javascript").
						google_ad_client = "ca-pub-4435324278170744";
						/* Astriarch - Leaderboard */
						google_ad_slot = "4525540849";
						google_ad_width = 728;
						google_ad_height = 90;
					script(type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
				#social-links
					div(style='height: 22px; margin-left: auto; margin-right: auto;display:block;')
						span
							.fb-like(data-href='http://www.astriarch.com', data-send='false', data-layout='button_count', data-width='75', data-height='25', data-show-faces='false', data-colorscheme='dark', style='vertical-align:top;')
						span(style='margin-left: 30px;')
							g:plusone(size='medium', href='http://www.astriarch.com/')
						span
							a.twitter-share-button(href='https://twitter.com/share', data-related='masteredsoft,mpalmerlee', data-via='astriarch', data-text='Astriarch - Ruler of the Stars, HTML5 space strategy game', data-url='http://astriarch.com', data-lang='en', data-size='medium', data-count='horizontal') Tweet
							script.
								!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			ol#joyRideTipContent
				li
					h2 Welcome to Astriarch
					p it looks like this is your first time here, click below to start the Tutorial
					a#TutorialClose(href="#close", class="joyride-end-tour") Skip Tutorial
					| &nbsp;
					a(href="#", class="joyride-next-tip") Start Tutorial
				li(data-id='NewSkirmishGameButton', data-options='tipLocation:top')
					h2 Click "New Game"
					p This will create a new game and allow other players to join,
				li
					h2 New Game Screen
					p From here we can wait for other human opponents to join and change game options. For the tutorial we'll just play against the computer.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='NumberOfSystemsComboBox-button', data-options='tipLocation:bottom')
					h2 Change the number of systems to 2
					p This option determines the maximum number of players a game can support.
				li(data-id='Player2ComboBox-button', data-options='tipLocation:top')
					h2 Choose a computer opponent
					p Change the option for Player 2 from "Open" to "Easy Computer". The rest of the options we can leave to the defaults.
				li(data-id='StartGameOptionsOkButton', data-options='tipLocation:top')
					h2 Click "Start Game"
					p This will start the game with the options we've selected.
				li
					h2 Main Game Screen
					p This is the main game screen, it allows us to manage our empire, select planets to view, send ships between planets and start trading sessions.
					p Click next to learn about the different areas of the main game screen.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='TextBlockFoodAmount', data-options='tipLocation:bottom')
					h2 Overall Empire Status
					p The top panel shows overall statistics of our emprire: population, gold, food, ore, and iridium.  Hover the mouse over each number to get more details about that resource.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='SelectedItemStatus', data-options='tipLocation:right')
					h2 Selected Planet Status
					p The left panel shows details about the selected planet, our home planet is selected by default.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='SelectedItemPopulationPanel', data-options='tipLocation:bottom')
					h2 Planet Population
					p These icons show the current and maximum population of the selected planet, hover the mouse over the population panel for more details.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='SelectedItemImprovementSlotsPanel', data-options='tipLocation:bottom')
					h2 Planet Improvements
					p These icons show the current improvements built on a planet and show the maximum number of slots a planet has to build improvements.
					p You currently don't have any improvements built so all the slots are empty.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='SelectedItemPopulationAssignmentsPanel', data-options='tipLocation:bottom')
					h2 Population Assignments
					p These icons show what jobs the population is currently assigned to: farmers, miners or builders.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='SelectedItemBuiltImprovementsGrid', data-options='tipLocation:bottom')
					h2 Improvement Count
					p This area shows a summary of the number of improvements the selected planet has built: farms, mines, factories, colonies and space platforms.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='SelectedItemPlanetaryFleetGrid', data-options='tipLocation:bottom')
					h2 Fleet Details
					p This area shows a summary of the number of ships currently on the selected planet: defenders, scouts, destroyers, cruisers, and battleships.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='SelectedItemStatusDetails', data-options='tipLocation:right')
					h2 Planet Details
					p This area shows detailed statistics about the selected planet, how many resources are on the planet (stockpile) as well as the number of resources generated per turn and per worker.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='PlanetViewButton', data-options='tipLocation:top')
					h2 Click "Planet View"
					p This will allow us to build planetary improvements and change population worker assignments on the selected planet.
					p Alternatively double-clicking on the planet brings up the planet view as well.
				li
					h2 Planet View
					p This screen gives us more detail on our planet. It also allows us to queue up buildings and starships as well as change population assignments on the planet.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='BuildQueue', data-options='tipLocation:top')
					h2 Build Queue
					p To start building improvements on our planet and to eventually build starships we must add items from the available items list on the left to the build queue on the right.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='PopulationAssignments', data-options='tipLocation:right')
					h2 Population Assignments
					p These sliders reassign which jobs each citizen on the planet is currently assigned to. Each turn farmers produce food, miners produce ore and iridium, and builders construct the next improvement or starship in the build queue.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='ItemsAvailableCardList', data-options='tipLocation:left')
					h2 Queue up three Farms
					p Throughout the game we must make sure our people have enough food or our population will start protesting and possibly rioting (population unrest decreases overall productivity on the planet).
					p Let's add three farms to the build queue by clicking on the item labeled "Farm" three times.
				li(data-id='PopulationAssignments', data-options='tipLocation:bottom')
					h2 Assign three Builders
					p Reassign all farmers on the planet to be builders by dragging the slider next to builders all the way to the right.
					p This will ensure that the farms that we've added to the build queue will actually get built. Don't worry about farmers at this point, we have enough food for the next few turns to feed our population.
				li(data-class='ui-dialog-buttonset', data-options='tipLocation:top')
					h2 Click "Ok"
					p We can now close the planet view screen.
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Finish the Turn
					p Now that we've added farms to the build queue and ensured that there are builders assigned to build them there isn't much more we can do this turn.
					p Click "Next Turn" to finish the turn.
				li(data-id='TurnSummaryItemsListBox', data-options='tipLocation:top')
					h2 Turn Status Messages
					p This area shows notifications for all events that took place since the end of our last turn.
					p Notice the message that tells us that we built a farm on our home planet.
					p Clicking on a status message in the list will select the planet associated with the message (if there is an associated planet).
					a(href="#", class="joyride-next-tip") Next
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Next Turn
					p We are still building farms on our home planet and there is not much else to do right now.
					p Click "Next Turn" to finish the turn.
				li(data-id='TurnSummaryItemsListBox', data-options='tipLocation:top')
					h2 Population Growth
					p Notice the message notifying us of population growth on our home planet. The population will slowly grow on a planet as long as it has room to grow and the citizens have sufficient food and aren't protesting.
					p Your new citizen has automatically been assigned as a farmer on our home planet, which is fine for now because we need to make sure we start producing food to feed our population.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Next Turn
					p We still have one more farm to build on our home planet, click "Next Turn" to finish the turn.
				li(data-id='PlanetViewButton', data-options='tipLocation:top')
					h2 Click "Planet View"
					p We've built the third farm on our home planet, now we can build some mines to start mining minerals (ore and iridium).
				li(data-id='ItemsAvailableCardList', data-options='tipLocation:left')
					h2 Build Two Mines
					p Ore and Iridium are vital to continuing to improve our planets as well as building ships to capture other planets.
					p Let's add two mines to the build queue by clicking on the item labeled "Mine" two times.
				li(data-id='PopulationAssignments', data-options='tipLocation:bottom')
					h2 Assign Two Miners
					p Reassign two citizens to be miners by dragging the slider next to miners to the right until we have two miners.
					p This will ensure that we start to mine some ore and iridium while we build our mines that will improve our mineral output.
				li(data-class='ui-dialog-buttonset', data-options='tipLocation:top')
					h2 Click "Ok"
					p We can now close the planet view screen.
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Next Turn
					p Now that we've queued up our mines, we need to wait for them to build, click "Next Turn" to finish the turn.
				li(data-id='PlanetViewButton', data-options='tipLocation:top')
					h2 Click "Planet View"
					p We just gained an additional citizen on our home planet and we have plenty of food, so we need to update our population assignments.
				li(data-id='PopulationAssignments', data-options='tipLocation:bottom')
					h2 Assign one more Miner
					p Reassign one more citizen to be a miner by dragging the slider next to miners to the right until we have three miners total.
				li(data-class='ui-dialog-buttonset', data-options='tipLocation:top')
					h2 Click "Ok"
					p We can now close the planet view screen.
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Next Turn
					p We need to wait while we build our 2nd mine, click "Next Turn" to finish the turn.
				li(data-id='StubTradeTour', data-options='tipLocation:top')
					h2 Open Trading Center
					p Sometimes it is necessary to buy needed resources or sell surplus resources, click the trading center button to open the galactic trading center.
				li
					h2 Galactic Trading Center
					p This screen shows us details about the trading center resource stockpile as well as current prices for food, ore and iridium.
					p Prices fluctuate based on the amount of resources in the trading center stockpile: the lower the amount in the stockpile the higher the price.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='TradeResourceLabelOre', data-options='tipLocation:top')
					h2 Buy Ore
					p Click the button for Ore to signify that we want to purchase ore.
					p Then drag the Amount slider over one unit and click the "Submit Trade" button to submit a trade to purchase one unit of ore.
				li(data-class='ui-dialog-buttonset', data-options='tipLocation:top')
					h2 Click "Ok"
					p We can now close the trading center.
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Next Turn
					p Click "Next Turn" to finish the turn.
				li(data-id='TurnSummaryItemsListBox', data-options='tipLocation:top')
					h2 Trade Execution
					p Notice the message notifying us that our trade was executed.
					p Trades are rejected if trades were simultaneously submitted by other players and we no longer have the resouces to cover the trade.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Next Turn
					p Click "Next Turn" to finish the turn.
				li(data-id='PlanetViewButton', data-options='tipLocation:top')
					h2 Click "Planet View"
					p Now we should have enough resources to add a factory to the build queue.
				li(data-id='ItemsAvailableCardList', data-options='tipLocation:bottom')
					h2 Build a Factory
					p Each factory on a planet increases the production generated by each builder.
					p Let's add a factory to the build queue by clicking on the item labeled "Factory".
				li(data-id='PopulationAssignments', data-options='tipLocation:bottom')
					h2 Assign Builders
					p Reassign citizens to be a builders to by dragging the slider next to builders to the right until we have four builders total.
				li(data-class='ui-dialog-buttonset', data-options='tipLocation:top')
					h2 Click "Ok"
					p We can now close the planet view screen.
				li(data-id='NextTurnButton', data-options='tipLocation:top')
					h2 Next Turn
					p Click "Next Turn" to finish the turn.
				li
					h2 Continue Building Factories
					p Now that you know how to manage resource production on your planet, go ahead and add two more factories when you have enough resources.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Build another Factory
					p We've finished building our first factory, we need a total of three factories on our home planet to have a sufficient amount of production.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Build one more Factory
					p Good job building our 2nd factory, we need to build one more when we have enough resources.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Build a Colony
					p Our three factories will help produce improvements and starships faster.
					p We should also build a colony on our home planet. Colonies increase the maximum population on a planet and also allow ships to be repaired on the planet.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Explore other planets
					p Our home planet is now well developed, it's time to build some ships to start exploring the galaxy.
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Build a Scout
					p Scouts are the weakest ship equipped with a warp drive.
					p They are perfect for exploring other planets early in the game because they are relatively cheap to build.
					p Build a Scout when you have enough resources just like we built our other improvements.
					a(href="#", class="joyride-next-tip") Ok
				li(data-id='BuildLastShipCheckBoxLabel', data-options='tipLocation:top')
					h2 Build Last Ship
					p Once the scout is completed we will be able to explore other planets in the galaxy.
					p Notice the Build Last Ship option for the planet, when this option is enabled, the planet will queue up the last ship built at the end of the turn (assuming the planet's build queue is empty and we have enough resources).
					a(href="#", class="joyride-next-tip") Ok
				li(data-id='SendShipsButton', data-options='tipLocation:top')
					h2 Send Ships
					p Now that we have built our first scout, we can send it to another planet in the galaxy.
					p Click the "Send Ships" button to choose a destination planet.
				li
					h2 Select Destination
					p Click on one of the unexplored planets closest to your home planet, this will bring up the send ships screen.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Send Ships Screen
					p This screen allows us to choose which ships we want to send to the destination planet we selected.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='ButtonSendAllShips', data-options='tipLocation:top')
					h2 Send a Scout
					p Select the ship to send or simply click the "Send All" button to send all ships on the planet.
				li(data-class='ui-dialog-buttonset', data-options='tipLocation:top')
					h2 Click "Ok"
					p Accept your selected fleet to send by clicking the "Ok" button.
				li
					h2 Planetary Conflict Summary
					p We explored our first planet!
					p This screen shows us the details of fleet battles and tells us if we defeated the enemy or not.
					p Some planets are inhabited by natives and will have a small initial defense fleet.
					a(href="#", class="joyride-next-tip") Next
				li(data-id='NeverShowPlanetaryConflictPopupsCheckbox', data-options='tipLocation:bottom')
					h2 Auto Show Summaries
					p Notice the option to not automatically popup these planetary conflict summaries.
					p Check this box so these screens will not popup every time there is a fleet battle, we can always bring up this screen by double-clicking the planetary conflict turn status messages from the main screen.
				li(data-class='ui-dialog-buttonset', data-options='tipLocation:top')
					h2 Click "Ok"
					p For now let's close the planetary conflict summary.
				li
					h2 Explore the Quadrant
					p Finish exploring the other planets in our quadrant by sending scouts to the remaining two closest unexplored planets.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Quadrant Explored
					p Good job exploring those planets!
					p Notice how each planet in our system is unique, selecting each planet will show the type and the current owner in the top left of the screen.
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Planet Types
					p There are four types of planets in the galaxy, each type is useful to control and is better for obtaining certain resources than other planets.
					p Terrestrial planets are excellent for farming, but poor for mining.
					p Arid planets are good for farming and mediocre for mining.
					p Dead planets are mediocre for farming and good for mining.
					p Asteroid belts are poor for farming and excellent for mining.
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Expand
					p Now that we've found out what planets are in our system, build up our fleets and take control of those planets we just explored.
					p Above each planet there is a small number which indicates the last known fleet strength of that planet, this gives us a general idea of how many ships are required to capture the planet.
					p Each scout has a strength of 4, so if an enemy planet has 10 strength, we should send at least 3 scouts to capture the planet.
					p Obviously, the more ships we send against another planet, the more likely we'll be to capture the planet.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Exploit
					p Great job capturing those planets! Now we can make the new planets more effective at generating resources.
					p As we capture new planets, it is critical to build improvements so that the new planets are able to generate resources and eventually build fleets.
					p Build one or two mines on asteroid belts and dead planets because they are better at mining ore and iridium.
					p Build one or two farms on Arid planets because they are better at farming.
					p We should also build at least one factory on each planet to speed up production and to allow us to build better ships and eventually a space platform.
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Space Platforms
					p Space Platforms are defensive battle stations that protect planets from attacking fleets and allow construction of cruisers and battleships.
					p Space Platforms are expensive to build and cannot move between planets but are critical in our quest to dominate the galaxy.
					p Save up enough resources and build a Space Platform on our home planet.
					a(href="#", class="joyride-next-tip") Ok
				li
					h2 Ship Types
					p Now that we've built our first space platform we can construct the strongest ships: cruisers and battleships.
					p In order to effectively crush our opposition we need to leverage all five ship types.
					p Defenders protect a planet from attacking fleets but are not equipped with warp drives so they are not able to move between planets.
					p Scouts, destroyers, cruisers, and battleships can attack other planets and their respective strengths increase exponentially.
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Starship Advantages
					p Some starships have natural advantages over other starships and will attack those starships first in combat.
					p An advantage increases attack strength by 50% while a disadvantage decreases attack strength by 50%.
					p Space Platforms have an advantage over every other type of starship and no disadvantages.
					p Defenders have an advantage over Battleships.
					p Every other ship has an advantage against the ship directly beneath it in strength (e.g. Scouts have an advantage over Defenders while Destroyers have an advantage over Scouts).
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Help Page
					p That was a lot of information to process, clicking the "Help" menu item in the top of the screen will bring up a summary of all the important information covered in this tutorial.
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Exterminate
					p We are now ready to build up our planets and fleets to destroy the opponent.
					p Once you have captured all of the enemy's planets and the enemy has no more fleets in transit, you will have won the game and earned the title of Astriarch - Ruler of the Stars.
					a(href="#", class="joyride-next-tip") Next
				li
					h2 Good luck!
					p That concludes this tutorial, after finishing this game try playing against more opponents or more difficult computers.
					p Astriarch is also multiplayer as well, so start a game against a friend and get your name on the "Top Rulers" board!
					a(href="#", class="joyride-next-tip") Finish


			script(type='text/javascript').
				$(document).ready(function() {
					window.tour = {enabled:false, step:-1, jqElm:null};

					var serverConfig = {"port":#{port}, "ping_freq":#{ping_freq}};

					Astriarch.View.PageLoadInit(serverConfig);
				});

		script(type='text/javascript').
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-7797548-2', 'astriarch.com');
			ga('send', 'pageview');
